/* Ajoutez ceci à votre fichier CSS global ou dans le fichier où vous avez vos styles */
.h1 {
  text-align: center;
  margin-top: 10px;
  background-color: aliceblue;
}
/* App.css */
body {
  margin-top: 100px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}

