/* Navbar.css */

/* Style pour positionner Inscription et Connexion au coin droit */
.navbar-nav.right-corner {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* Navbar.css */

/* Style pour les liens de la barre de navigation */
.nav-link {
    font-size: 1rem;
    margin-right: 1rem; /* Marge entre les liens */
    transition: font-size 0.3s, color 0.3s; /* Ajoutez une transition pour un effet plus fluide */
}

/* Style pour le survol des liens de la barre de navigation */
.nav-link:hover {
    font-size: 1.1rem; /* Augmente légèrement la taille du texte au survol */
    color: blue; /* Change la couleur du texte en bleu au survol */
}


.form-control {
    /* Styles pour la barre de recherche */
    width: 300px; /* Ajustez la largeur en fonction de vos préférences */
    margin-top: 8px; /* Ajustez la marge en fonction de vos préférences */
    margin-bottom: 8px; /* Ajustez la marge en fonction de vos préférences */
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bg-light {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Ajustez la marge en fonction de vos préférences */
    order: -1; /* Met la barre de recherche en premier dans l'ordre d'affichage */
}





/* Ajoutez des styles supplémentaires selon vos besoins */
